<!DOCTYPE html>
<html>
  <head>
    <title>Employee Details</title>
  </head>
  <body>
    <h1>Employee Details</h1>
    <p>Last Name: <%= employee.lastName %></p>
    <p>First Name: <%= employee.firstName %></p>
    <p>Date Created: <%= employee.dateCreated.toDateString() %></p>
    <p>Department: <%= employee.department %></p>
  </body>
</html>
